@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin:0px;
	padding:0px;
	background-color:#161616;	 
}

html{
    scroll-behavior: smooth;
}

/******************************************************** HEADER ******************************************************/
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p, h3 {
	font-family: barlow;
}
header {
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
    background-color: #f4f7ff;
	background-size: 1130px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("../image/bg-profile.png");
}
.profile-img {
    display: none;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: barlow;
    letter-spacing: 2px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color:#f4f7ff;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.05);
    z-index: 1;
}
.menu {
	display: flex;
}
.menu li a {
    position: relative;
    padding: 10px 15px;
    color: #6c707c;
    font-size: 1em;
    border-radius: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.menu li a.active {
    color: rgba(23,209,172,0.80) !important; 
}
/* Pseudo-élément ::after pour créer l'underline */
.menu li a::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: rgba(23, 209, 172, 0.80);
    transition: width 0.3s ease;
}
.menu li a:hover::after {
    width: 100%; 
}
.menu li a:hover {
    color: rgba(23,209,172,0.80);
}
/* .language a{
	color:#292929;
}

.logo {
	font-size: 25px;
	font-weight: bold;
	color:#292929;
	font-family:barlow;
} */
ul.menu {
    display: flex;
    gap: 20px;
}
.toggle{
	display: none;
}
.name{
    color: rgba(23,209,172,0.80);
    font-style: normal;
}
.speech {
	font-family: barlow;
    width: 35em;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
}
.speech p:nth-child(1),.speech .description{
	color: #6c707c;
    font-size: 1.1em;
	text-align: left;
}
.speech h1 {
    font-family: poppins;
    font-size: 2.5em;
    margin:0px;
    letter-spacing: 2.5px;
    color: #191919;
}
.cv-btn {
    width: 10vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    color: #f4f4f4;
    font-size: 1.3em;
    border-radius: 8px;
}
.cv-btn:hover {
	background-color: rgba(23,209,172,0.80);
	transition: all ease 0.5s;
	color: #191919
}
.networks{
	display: flex;
	align-items: center;
	gap: 15px;
}
.title-heading h1 {
    color: rgba(23,209,172,0.80);
    font-size: 3rem;
    text-align: center;
}

/******************************************************** EXPERIENCE ******************************************************/
/************************** GLOBAL TIMELINE ************************/
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
    position: relative;
}
/* Ligne verticale de la timeline */
.timeline::before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: rgb(211, 237, 244);
    height: 100%;
    left: 50%; /* Center the vertical line */
    transform: translateX(-50%);
}



#experience {
    width: 100%;
    background-color: #191919;
    box-sizing: border-box;
    padding: 50px;
    position: relative;
}
.timeline-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.timeline-item {
    position: relative;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}
.timeline-point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 50%; /* Place the point on the centered line */
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
.timeline-content {
    background-color: #f4f7ff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: left;
}
.content-right {
    margin-left: 500px; /* Shift the content to the right of the timeline */
}
.content-left {
    margin-right: 500px; /* Shift the content to the left of the timeline */
}
.content-left h3 {
	text-align: right;
}
.content-right h3 {
	text-align: left;
}
.keyword{
	font-weight: bold;
	color: rgba(23,209,172,0.80);
}

.timeline-content-right {
    background-color: #f4f7ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-left: 500px; /* Shift content to the right of the timeline */
    text-align: left;
}

.timeline-content-left {
    background-color: #f4f7ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-right: 500px; /* Shift content to the right of the timeline */
    text-align: left;
}

/* Animation when the section is scrolled into view */
.timeline-item.active {
    opacity: 1;
    transform: translateY(0);
}

.timeline-item.active .timeline-point {
    background-color: rgba(23,209,172,0.95); 
}

.year {
    position: absolute;
    top: 50%;
    left: 100%; /* Start outside of the point */
    transform: translate(-100%, -50%);
    color: rgba(23,209,172,0.80);
	font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    font-size: 1rem;
	font-family: barlow;
}

.align-left .year {
    left: 100%;
    transform: translate(-100%, -50%);
}

.align-left:hover .year {
    opacity: 1;
    transform: translate(-150%, -50%);
}

.align-right .year {
    right: 100%;
    transform: translate(100%, -50%);
}

.align-right:hover .year {
    opacity: 1;
    transform: translate(150%, -50%);
}

/******************************************************** EDUCATION ******************************************************/
#education {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    background-color: #f4f7ff;
}

.title-heading h1 {
    color: rgba(23,209,172,0.80);
    font-size: 3rem;
    text-align: center;
}

/* Reverse the text and point positions for Education */
.timeline-container.reverse .content-left .content-right{
    margin-right: 50px; 
    margin-left: 0;
    text-align: right; 
}


.timeline-container.reverse .timeline-point {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/******************************************************** SKILLS ******************************************************/
#skills {
    width: 100%;
    box-sizing: border-box;
    padding: 50px;
    background-color: #191919;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.skill-box {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s ease;
    perspective: 1000px; /* 3D effect */
    display: inline-block;
}

.skill-box:hover {
    transform: rotateY(180deg);
}

.box-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden; /* Hide box face back */
    background-color: #191919; 
    color: #f4f7ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-face.front {
    z-index: 2;
    transform: rotateY(0deg);
	border: 3px solid #f4f7ff;
}

.box-face.back {
    transform: rotateY(180deg);
    position: relative; /* Allows positioning of icons */
    display: flex;
    flex-wrap: wrap; /* Allows icons to wrap to next line */
    padding: 10px;
	background-color: #f4f7ff; 
	color: #191919
}

/* Position icons based on specified order */
.box-face i {
    font-size: 3rem; 
    position: absolute;
}

/* 1. Centered at the top */
.box-face i:nth-child(1) {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/* 2. Centered vertically on the left */
.box-face i:nth-child(2) {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

/* 3. Centered vertically on the right */
.box-face i:nth-child(3) {
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

/* 4. Centered at the bottom */
.box-face i:nth-child(4) {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/* 5. Centered in the middle */
.box-face i:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Tooltips */
.box-face i::after {
    content: attr(aria-label); /* Tooltip text */
    position: absolute;
    bottom: 100%; /* Position tooltip above icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #f4f7ff;
    padding: 5px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    font-size: 0.9rem;
    pointer-events: none; /* Avoid interference with mouse events */
}

/* Show tooltip on hover */
.skill-box .box-face.back i:hover::after {
    opacity: 1;
    visibility: visible;
}

/******************************************************** PORTFOLIO ******************************************************/
#portfolio{
	width:100%;
	box-sizing: border-box;
	font-family: poppins;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
	background-color:#f4f7ff;
}
 
.p-heading{
	font-family: poppins;
	font-size: 1.7rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	padding: 10px 20px;
	background-color: #292929;
	letter-spacing: 2px;
	border-radius: 3px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
	
}
.p-box{
	background-color: #1F1F1F;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;
 
}
.p-box img{
    width: 100%;
	height: 100%;
	object-fit: cover;
}
.p-container{
	width: 90%;
	height:70vh;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}
.overlay-text{
	font-family: barlow;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(23,209,172,0.80);
	display:none;
	
}
/* .overlay-text h1,p{
	color: #FFFFFF;
} */
.overlay-text h1{
	font-size: 2.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
	
}
.overlay-text p{
	font-size: 1.2rem;
	margin: 0px;
 
 
}
.p-box:hover .overlay-text{
	display: flex;
	
}

/******************************************************** FOOTER ******************************************************/
#stay-in-touch {
    text-align: center;
    padding: 20px;
    background-color: #f4f7ff;
    box-shadow: 15px 2px 15px rgba(0, 0, 0, 0.50);
}


.footer-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0 auto;
    align-items: center; 
    height: 35vh;
}

/* For each contact-item, the icons and text are horizontally aligned */
.contact-item {
    display: flex;
    align-items: center; /* Align the icons and text horizontally */

    margin-bottom: 10px;
}

.contact-item:hover {
    transform: translateY(-3px);
}

.contact-item a:hover {
    color: rgba(23, 209, 172, 0.80);
}

.contact-item i {
    font-size: 30px;
    color: rgba(23, 209, 172, 0.80);
    margin-right: 10px; /* Space between the icône and the text */
}

.contact-item p, .contact-item a {
    font-size: 18px;
    color: #191919;
    text-decoration: none;
}

.contact-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-profile img {
    height: 20vh;
    margin-bottom: 10px;
}

.contact-info, .contact-networks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contactMe {
    color: rgba(23, 209, 172, 0.80);
    font-size: 2em;
}

.contact-item a:hover {
    color: rgba(23, 209, 172, 0.80);
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



/****************************************************************RESPONSIVE****************************************************/

@media screen and (max-width:1170px){
	header{
		background-size: 1150px !important;
		
	}
	.speech{
		left: 10%;
		top: 50%;
		transform: translate(-10%,-50%);
	}
	#contact-info {
		width:95% !important;
	}
 
}

@media screen and (max-width: 970px) {

/*********************************************** HEADER *************************************************/
    header{
        background-image: none !important;
        background-image: url("../image/profile-rond.png");
    }
	.menu {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 49px;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        color: #f4f4f4;
        z-index: 10;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease;
        opacity: 0;
        pointer-events: none;
    }
    
    .menu li {
        margin: 15px 0;
        text-align: center;
        font-size: 24px;
    }

    /* Make the menu visible when active */
    .menu.active-menu {
        display: flex;
        opacity: 1;
        pointer-events: auto;
    }
	
	/* Show the toggle button */
	.toggle {
		display: block;
		cursor: pointer;
		font-size: 24px;
		z-index: 11;
	}

	.menu {
        transition: max-height 0.3s ease;
        overflow: hidden;
    }
	
	.active-menu {
		display: block !important;
	}

    .no-scroll {
        overflow: hidden;
        height: 100vh; 
    }

    nav{
		padding:10px 30px;
        justify-content: flex-end;
	}
	
	nav ul{
		position:absolute;	
		width: 100%;
		height:auto;
		box-sizing:border-box;
		background-color:#191919;
		top: 50px;
		left: 0;
		transition: 0.5s;
		overflow: hidden;
		display: none !important;
	}

	nav ul li a{
        border-bottom: 1px solid rgba(255,255,255,0.10) ;
        color:#f4f7ff !important;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0px !important;
        padding: 0px !important;
    }

	nav ul{
		padding:0px;
		margin:0px;
	}

	nav ul li a:hover{
		background-color:rgba(27,29,32,0.15);
	}


/***************************************** PRESENTATION **********************************************/
	.speech{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
    .profile-img {
        display: block;
        width: 50%; 
        height: auto;
        margin: 60px auto; /* Center the image horizontally */
    }

    .networks {
        gap: 25px
    }

    .cv-btn {
        width: 20vw;
        height: 4vh;
        font-size: 1em;
    }

    .github {
        font-size: 1.2em;
    }

/******************************************** EXPERIENCE / EDUCATION **************************************************/
    /* Make the timeline align to the left */
    .timeline::before {
        left: 5px; /* Move the timeline line to the left */
        transform: translateX(0); /* No translation since the bar is already on the left */
    }

    /* Align the content of the boxes to the right of the bar */
    .timeline-content {
        max-width: 100%; /* Limit the width of the boxes */
        text-align: left;
        margin-left: 70px; /* Shift content to the right relative to the bar */
        margin-right: 0;
    }

    /* Adjust the points of the timeline to keep them aligned on the bar */
    .timeline-point {
        left: calc(0% - 13px); /* Center the point based on its width */
    }

    /* Place the date (year) to the left of the points */
    .timeline-point .year {
        position: absolute;
        left: calc(0% - 42px); /* Center the point based on its width */
        transform: translateY(-50%);
        font-size: 0.9em;
        color: rgba(23, 209, 172, 0.80);
    }

    .timeline-item.active .year {
        opacity: 1; /* The year becomes visible */
    }

    /* Remove specific left/right margins from the contents */
    .content-left,
    .content-right {
        margin: 0;
        text-align: left;
    }

    /* Reduce space between timeline elements for a compact display */
    .timeline-container {
        gap: 20px;
    }

    .content-left h3 {
        text-align: left;
        font-size: 1.2em;
    }

    .timeline-container.reverse .timeline-point {
        left: calc(0% - 13px); /* Center the point based on its width */
        transform: translateX(-50%) translateY(-50%);
    }

/********************************************** SKILL ****************************************************/

    .skills-container {
        flex-direction: column; /* Stack the boxes */
        padding: 20px;
        align-items: center; /* Center the boxes */
    }

    .skill-box {
        width: 170px; /* Reduce the size */
        height: 170px;
        margin-bottom: 40px; /* Space between the boxes */
    }

    .skill-box.flipped {
        transform: rotateY(180deg); /* Rotate to display the back */
    }

    .box-face {
        width: 100%; /* Take the full width of the box */
        height: 100%; /* Take the full height of the box */
        position: absolute; /* Position correctly */
        display: flex;
        justify-content: center; /* Center the content */
        align-items: center; /* Center the content */
        backface-visibility: hidden; /* Hide the back face */
        border-radius: 10px; /* Round the corners if needed */
        box-sizing: border-box; /* Include padding and border in the size */
    }

    .box-face.back {
        transform: rotateY(180deg); /* Position the back face */
    }

    .box-face i {
        font-size: 2.5rem; /* Adjust the size of the icons */
    }

    /* Adjust the position of the icons */
    .box-face i:nth-child(1) {
        top: 15%;
    }


    .box-face i:nth-child(2),
    .box-face i:nth-child(3) {
        top: 50%;
    }

    .box-face i:nth-child(4) {
        bottom: 15%;
    }

    .box-face i:nth-child(5) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/****************************************** PORTFOLIO *************************************************/
	.p-container{
		grid-template-columns:1fr 1fr;
        grid-template-rows:auto;
        grid-gap: 10px;
		height: auto;
        width:100%;
	}

/******************************************** FOOTER *************************************************/
    .contact-item p,
    .contact-item a,
    .contact-item i {
        margin: 0;
        padding: 0;
    }  
    .footer-container {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        text-align: center;
        height: auto; 
    }
    .contact-profile img {
        display: none; 
    }
    .contactMe {
        font-weight: bold;
        margin-bottom: 50px; 
        text-align: center;
    }
    .contact-info {
        justify-content: flex-start; 
        align-items: flex-start; 
        margin-bottom: 10px; 
        text-align: left; 
        width: 100%; 
        padding-left: 20px; 
    }
    .contact-item i {
        margin-right: 15px; /* Space between the icon and the text */
    }
    
    .contact-item {
        margin-bottom: 20px; /* Space between the items */
    }
    
    .contact-networks {
        justify-content: flex-start; 
        align-items: flex-start; 
        margin-top: 20px; /* Add spacing from contact-info */
        text-align: left; 
        width: 100%;
        padding-left: 20px; 
    }    
    .copyright {
        margin-top: 20px;
        text-align: center;
        justify-content: center;
    }

}
 
@media(max-width:750px){
	.p-container{
		grid-template-columns:1fr ;
		grid-template-rows: auto;}

	.speech{
		width:90%;
	}
}
